<html>
<head>
    <link rel="stylesheet" href="/movies/styles.css" /></head>
<body>
    <h1>Movie Details</h1>
    <p></p>
        <a href="http://localhost:3000/movies"><h4>View All Movies</h4></a>
    <p></p>
        <a href="http://localhost:3000/movies/create"><h4>Add Movies</h4></a>
    <p></p>
    <ul>
        <img src="{{posterURL}}" />
        <p><b>Title: </b>{{title}} </p>
        <p><b>Genre: </b>{{genre}} </p>
        <p><b>Description: </b>{{description}} </p>
    </ul>
</body>
</html>